* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main__page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.1)), url("pexels-ponyo-sakana-5088638.jpg");
  background-size: cover;
  background-position: center;
  .container {
    width: 800px;
    height: 700px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
